@using PMS.Service.ViewModels.PTask

@model PTaskViewModel

@{
	string fullName = @Model.AssignedTo;
	string[] nameParts = fullName.Split(' ');
	string initials = "";
	foreach (string part in nameParts)
	{
		initials += part[0];
	}
}

<div class=tile>
	<div class="rectangle_292">
		<div class=tiletitle><p class="design_system">@Model.TaskType</p>
			<div class="ellipse_2"></div>
		</div>
		<h3 class="hero_section">@Model.Name</h3>
		<p class="hero_content">@Model.Description</p>
		<div class=user2>
			<div class="ellipse_3"></div>
			<p class="vh">@initials</p>
		</div>
	</div>
</div>

<style>
	.tile {
		width: 312px;
		height: 207px;
		position: relative;
		left: 24px;
		margin-top: 10px;
	}

	.rectangle_292 {
		background-color: var(--primary-color);
		width: 312px;
		height: 207px;
		position: relative;
		left: -5px;
		top: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.tiletitle {
		width: 106px;
		height: 18px;
		position: relative;
		left: 24px;
	}

	.design_system {
		color: var(--default-color);
		width: 92px;
		height: 3px;
		position: relative;
		left: 20px;
		top: 15px;
		font-family: Poppins;
		text-align: left;
		font-size: 12px;
		letter-spacing: 0;
	}

	.ellipse_2 {
		border-radius: 500px;
		background-color: var(--default-color);
		width: 9px;
		height: 9px;
		position: inherit;
		left: 0px;
		top: 1px;
	}

	.hero_section {
		color: var(--text-color);
		width: 266px;
		height: 23px;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		left: 24px;
		top: 25px;
		font-family: Poppins;
		text-align: left;
		font-size: 18px;
		letter-spacing: 0;
	}

	.hero_content {
		color: var(--text-color);
		position: relative;
		height: 84px;
		overflow: hidden;
		text-overflow: ellipsis;
		top: 27px;
		font-family: Poppins;
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 25px;
		margin-right: 25px;
	}

	.tilemore {
		width: 16px;
		height: 2px;
		position: inherit;
		left: 272px;
		top: 30px;
	}

	.user2 {
		width: 29px;
		height: 29px;
		position: relative;
		left: 24px;
		top: 18px;
	}

	.ellipse_3 {
		border-radius: 500px;
		background-color: var(--default-color);
		width: 29px;
		height: 29px;
		position: inherit;
		left: 0px;
		top: 0px;
	}

	.vh {
		color: var(--primary-color);
		position: relative;
		bottom: 23px;
		left: 5px;
		font-family: Poppins;
		font-size: 12px;
		letter-spacing: 0;
	}
</style>