@using PMS.Service.ViewModels.PTask

@model PTaskWithAssignedNamesViewModel

@{
	string fullName = @Model.AssignedToName;
	string[] nameParts = fullName.Split(' ');
	string initials = "";
	foreach (string part in nameParts)
	{
		initials += part[0];
	}
	DateTime now = Model.UpdatedAt;
	DateTime date = now.Date;
	TimeSpan time = now.TimeOfDay;
	var edited = "";
	if (Model.UpdatedAt != Model.CreatedAt)
	{
		edited = "edited";
	}
}

<div class=tile>
	<div class="rectangle_292">
		<a class="return" href="/tasks">
			<p class="time">@edited @time.ToString()</p>
			<p class="date">@date.ToString("d")</p>
			<div class=tiletitle>
				<p class="design_system">@Model.TaskType</p>
				<div class="ellipse_2"></div>
			</div>
			<h3 class="hero_section">@Model.Name</h3>
			<p class="hero_content">@Model.Description</p>
			<a class=user2 href="@Url.Action("Index", "Employee", new { id = @Model.AssignedToId }, null)">
				<div class="ellipse_3"></div>
				<p class="vh">@initials</p>
			</a>
			<div class="creatorSection">
				<p class="assigned">assigned by</p>
				<a class="createdBy"
					href="@Url.Action("Index", "Employee", new { id = @Model.AssignedFromId }, null)">@Model.AssignedFromName</a>
			</div>
		</a>
	</div>
</div>

<style>
	.tile {
		width: 312px;
		height: 207px;
		position: relative;
		left: 24px;
		margin-top: 10px;
	}

	.rectangle_292 {
		background-color: var(--primary-color);
		width: 312px;
		height: 207px;
		position: relative;
		left: -5px;
		top: 0px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	a.return {
		width: 100%;
		display: block;
		height: 100%;
	}

	p.time {
		top: 15px;
		margin: 0 auto;
		left: 15px;
		position: absolute;
		font-size: 10px;
		color: var(--default-color);
	}

	p.date {
		top: 15px;
		margin: 0 auto;
		right: 10px;
		position: absolute;
		font-size: 10px;
		color: var(--default-color);
	}

	.tiletitle {
		top: 35px;
		width: 90%;
		height: 20px;
		position: relative;
		left: 15px;
	}

	.design_system {
		color: var(--default-color);
		position: relative;
		left: 15px;
		margin-right: 15px;
		font-family: Poppins;
		font-size: 12px;
		letter-spacing: 0;
	}

	.ellipse_2 {
		border-radius: 10px;
		background-color: var(--default-color);
		width: 9px;
		height: 9px;
		margin: 0 auto;
		position: absolute;
		left: 0px;
		bottom: 7px;
	}

	.hero_section {
		color: var(--text-color);
		width: 266px;
		height: 23px;
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		left: 15px;
		top: 35px;
		font-family: Poppins;
		text-align: left;
		font-size: 18px;
		letter-spacing: 0;
	}

	a.createdBy {
		text-decoration: underline;
		font-size: 12px;
		color: var(--button-color);
		cursor: pointer;
		position: relative;
		margin: 0 auto;
		display: block;
		height: min-content;
	}

	p.assigned {
		font-size: 8px;
		color: var(--default-color);
		position: relative;
		margin: 0 auto;
	}

	.creatorSection {
		margin: 0 auto;
		right: 10px;
		position: absolute;
		bottom: 15px;
	}

	.hero_content {
		color: var(--text-color);
		position: relative;
		height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		top: 27px;
		font-family: Poppins;
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 15px;
		margin-right: 15px;
	}

	.tilemore {
		width: 16px;
		height: 2px;
		position: inherit;
		left: 272px;
		top: 30px;
	}

	.user2 {
		width: 29px;
		height: 29px;
		position: absolute;
		left: 20px;
		bottom: 15px;
		margin: 0 auto;
	}

	.ellipse_3 {
		border-radius: 500px;
		background-color: var(--default-color);
		width: 29px;
		height: 29px;
		position: inherit;
		left: 0px;
		top: 0px;
	}

	.vh {
		color: var(--primary-color);
		cursor: pointer;
		position: relative;
		text-align: center;
		margin: 5px auto;
		font-family: Poppins;
		font-size: 12px;
		letter-spacing: 0;
	}
</style>