@using Microsoft.AspNetCore.Mvc.Localization
@using PMS.Service.ViewModels.Employee;
@using PMS.Service.ViewModels.Project;
@using PMS.Service.ViewModels.Skill;

@inject IViewLocalizer Localizer

@model EmployeeViewModel

@{
    List<ProjectViewModel> projects =  ViewBag.Projects;
    List<SkillViewModel> skills = ViewBag.Skills;
}

@{
    ViewData["Title"] = "Employee";
}

<div class=boardmenu>
    <div class="container">
        <h1>@Localizer["HeaderEmployee"]</h1>

        <img src="@Model.ProfilePicture" onerror="this.src='~/images/profile.png'" alt="Profile Picture" class="profile-picture">

        <h2>@Localizer["HeaderName"]</h2>
        <p>@Model.Name</p>

        <h2>@Localizer["HeaderPosition"]</h2>
        <p>@Model.Position</p>

        <h2>@Localizer["HeaderEmail"]</h2>
        <p class="email">@Model.Email</p>

        <h2>@Localizer["HeaderDesc"]</h2>
        <p>@Model.Description</p>

        <h2>@Localizer["HeaderNumber"]</h2>
        <p class="phone-number">@Model.PhoneNumber</p>

        <h2>@Localizer["HeaderProjects"]</h2>
        <ul class="list">
            @{ 
                if (projects.Count != 0)
                {
                    foreach (var project in projects)
                    {
                        @await Html.PartialAsync("_ProjectSmallPartial", project)
                    }
                }
                else
                {
                    <p class="nocontent">No Projects</p>
                }
            }
        </ul>

        <h2>@Localizer["HeaderSkills"]</h2>
        <ul class="list">
            @{
                if (skills.Count != 0)
                {
                foreach(var skill in skills)
                {
                    <li class="skill">@skill.Name</li>
                }
                }
                else
                {
                    <p class="nocontent">No Skills</p>
                }
            }
        </ul>
    </div>
</div>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--third-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-top: 50px;
    }

    .nocontent{
        color: var(--default-color);
    }

    h1 {
        font-size: 36px;
        margin: 0;
        margin-bottom: 20px;
        color: var(--default-color);
        text-align: center;
    }

    h2 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 5px;
        color: var(--default-color);
        text-align: center;
    }

    p {
        color: var(--text-color);
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .section-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--default-color);
    }

    .email {
        display: block;
        color: var(--text-color);
        margin-bottom: 10px;
    }

    .phone-number {
        display: block;
        color: var(--text-color);
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .skill {
        background-color: #619075;
        color: var(--primary-color);
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .profile-picture {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        border: 5px solid var(--third-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        max-width: 200px;
        max-height: 200px;
    }
</style>