@using Microsoft.AspNetCore.Mvc.Localization
@using PMS.Service.ViewModels.Employee;
@using PMS.Service.ViewModels.Project;

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["HeaderTitle"];
}

<div class=boardmenu>
	@Html.Partial("_TopBarPartial")
	<div class="container">
		<div class="employees">
			<h1>@Localizer["HeaderEmployees"]</h1>
			<a class="material-symbols-outlined seeall pointer" asp-area="" asp-controller="Employee"
				asp-action="GetAll" title="see all">
				format_align_justify
			</a>
			<div class="list">
				<ul>
					@{
						foreach(EmployeeViewModel employee in ViewBag.Employees)
						{
							<a href="@Url.Action("Index", "Employee", new { id = employee.Id }, null)">
								@await Html.PartialAsync("_EmployeePartial", employee)
							</a>
						}
					}
				</ul>
			</div>
		</div>

		<div class="projects">
			<h1>@Localizer["HeaderProjects"]</h1>
			<a class="material-symbols-outlined seeall pointer" asp-area="" asp-controller="Project"
				asp-action="GetAll" title="see all">
				format_align_justify
			</a>
			<div class="list">
				<ul>
					@{
						foreach(ProjectViewModel project in ViewBag.Projects)
						{
							<a href="@Url.Action("Index", "Project", new { id = project.Id }, null)">
								@await Html.PartialAsync("_ProjectPartial", project)
							</a>
						}
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<style>
	h1 {
		color: var(--default-color);
		margin: 0;
		font-size: 24px;
		font-weight: normal;
		width: min-content;
	}

	.seeall {
		float: right;
		margin-top: -26px;
		color: var(--default-color);
	}

	.list {
		margin-top: 25px;
		height: 690px;
		overflow-y: scroll;
	}

	.list::-webkit-scrollbar-thumb {
		background-color: var(--secondary-color);
		border-radius: 10px;
	}

	.list::-webkit-scrollbar {
		width: 0.3em;
		background-color: var(--primary-color);
	}

	.container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 140px auto;
		padding: 20px;
		background-color: var(--secondary-color);
	}

	.employees {
		flex-basis: calc(50% - 10px);
		margin-right: 20px;
		margin-bottom: 20px;
		background-color: var(--third-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
	}

	.employees ul {
		padding-left: 0.5rem;
	}

	.employees h2 {
		margin-top: 0;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 10px;
	}

	.projects {
		flex-basis: calc(50% - 10px);
		margin-bottom: 20px;
		background-color: var(--third-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;
	}

	.projects h2 {
		margin-top: 0;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 10px;
	}

	.projects ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
</style>