@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options 

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "Settings";
}

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class=boardmenu>
<h1>@Localizer["HeaderSettings"]</h1>
	<div class="container">
		<form method="post" asp-controller="Settings" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path">
			<label for="culture">@Localizer["HeaderLanguage"]</label>
            <select name="culture"
                    asp-for="@requestCulture.RequestCulture.UICulture.Name"
                    asp-items="cultureItems"></select>

			<button type="submit" onclick="this.form.submit()">@Localizer["HeaderSave"]</button>
		</form>
	</div>
</div>

<style>
		h1 {
			text-align: center;
			margin-top: 50px;
			color: #333;
		}

		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 50px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
		}

		label {
			display: block;
			margin-bottom: 10px;
			color: #333;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		select {
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			background-color: #f9f9f9;
			font-size: 16px;
			margin-bottom: 20px;
			box-sizing: border-box;
		}

		button[type="submit"] {
			background-color: #333;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
			transition: all 0.3s ease;
		}

		button[type="submit"]:hover {
			background-color: #ccc;
			color: black;
		}
	</style>