@using Microsoft.AspNetCore.Mvc.Localization
@using PMS.Service.ViewModels.Project;
@using PMS.Service.ViewModels.Employee;

@inject IViewLocalizer Localizer

@model ProjectViewModel

@{
	List<EmployeeWithRoleViewModel> employees = ViewBag.Employees; 
}

@{
	ViewData["Title"] = "Project";
}

<div class=boardmenu>
	<div class="container">
		<h1>@Localizer["HeaderProject"]</h1>

		<h2>@Localizer["HeaderName"]</h2>
		<p>@Model.Name</p>

		<h2>@Localizer["HeaderStatus"]</h2>
		<p>The current status of the project is: <span class="status in-progress">@Model.Status</span></p>

		<h2>@Localizer["HeaderDesc"]</h2>
		<p>@Model.Description</p>

		<h2>@Localizer["HeaderEmployees"]</h2>
		<ul class="list">
			@{
				if (employees.Count != 0)
				{
					foreach (var employee in employees)
					{
						@await Html.PartialAsync("_EmployeeSmallPartial", employee)
					}
				}
				else
				{
					<p class="nocontent">No Employees</p>
				}
			}
		</ul>
	</div>
</div>

<style>
	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
		background-color: var(--third-color);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		margin-top: 50px;
	}

	.nocontent{
        color: var(--default-color);
    }

	h1 {
		font-size: 36px;
		margin: 0;
		margin-bottom: 20px;
		color: var(--default-color);
		text-align: center;
	}

	h2 {
		font-size: 24px;
		margin: 0;
		margin-bottom: 10px;
		color: var(--default-color);
	}

	p {
		color: var(--text-color);
		font-size: 16px;
		line-height: 1.5;
		margin: 0;
		margin-bottom: 20px;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.status {
		display: inline-block;
		color: var(--default-color);
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 14px;
		margin-right: 10px;
		text-transform: uppercase;
	}

	.status.in-progress {
		background-color: #F5A623;
	}

	.status.completed {
		background-color: #27AE60;
	}
</style>